#calendar_section {
  height: calc(100vh - 5em);
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom left, #061700, #708869);
  color: #f5f5f5; }

.calendar_content {
  border: 2px solid #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  width: 80%;
  height: 80%;
  color: #f5f5f5; }

.event_list {
  display: flex;
  flex-direction: row; }
