#intro_section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background: #4d2a19; }

.intro_content {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.7;
  background-image: url("../assets/img/banner_3.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.intro_bg_overlay {
  background: rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
  height: 100%;
  width: 60%;
  position: absolute;
  z-index: 2; }

.intro_description_wrapper {
  color: #f5f5f5;
  height: 25%;
  min-height: 150px;
  z-index: 5;
  margin-left: 5%;
  margin-top: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .intro_description_wrapper h1 {
    font-weight: 400;
    font-family: 'Sacramento',cursive;
    font-size: 6em; }

.intro_social_media {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .intro_social_media li {
    list-style-type: none;
    padding: 0px 20px 0px 10px; }
  .intro_social_media i {
    color: #f5f5f5;
    font-size: 2em; }
    .intro_social_media i:hover {
      color: #F39B4D; }

#about_section {
  width: 100%;
  background-image: -webkit-linear-gradient(235deg, #f9f9f9 45%, #f5f5f5 35%);
  z-index: 2; }

.about_content {
  width: 80%;
  max-width: 700px;
  margin: 0px auto;
  padding: 20px;
  color: #6f6f6f;
  line-height: 200%; }
  .about_content h2 {
    text-align: center; }

@media (max-width: 900px) {
  .intro_content {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-position: 80% 0;
    -webkit-background-position: 80% 0;
    -moz-background-position: 80% 0;
    background-attachment: scroll;
    -webkit-background-attachment: scroll;
    -moz-background-attachment: scroll; }
  .intro_bg_overlay {
    visibility: hidden; }
  .intro_description_wrapper {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    justify-content: flex-end;
    align-items: center; } }

@media (max-width: 465px) {
  .intro_social_media {
    font-size: 0.5em;
    margin: 0;
    padding: 0px 0px 20px 0px; } }
