html, body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif; }

/* ----------------------------------------
------------ NAVBAR STYLES ----------------
---------------------------------------- */
.navbar_wrapper {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5em;
  width: 100%;
  z-index: 5;
  background: transparent;
  color: #ff3c03;
  color: white;
  transition: ease-in-out 300ms;
  -webkit-transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms; }

.nav_up {
  transform: translateY(-5em);
  transition: ease-in-out 300ms;
  -webkit-transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms; }

.nav_contact_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0px 10px 10px 50px; }

.nav_links {
  padding-right: 50px; }
  .nav_links ul {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 35px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .nav_links ul li {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
  .nav_links li:last-child {
    display: none; }
  .nav_links a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    height: 95%;
    padding: 0;
    margin: 0px 20px;
    text-transform: lowercase; }
    .nav_links a:hover {
      padding-bottom: 3px;
      border-bottom: 2px solid white; }
  @media (max-width: 900px) {
    .nav_links li:not(:last-child) {
      display: none; }
    .nav_links li:last-child {
      display: flex; }
    .nav_links a {
      padding: 25px 0px;
      display: flex;
      flex-direction: column; }
      .nav_links a:hover {
        border: 0px solid transparent; }
        .nav_links a:hover .iconbar {
          background: #fff; }
        .nav_links a:hover .iconbar:nth-of-type(1) {
          top: 4px;
          transition-delay: 100ms;
          -webkit-transition-delay: 100ms;
          -moz-transition-delay: 100ms;
          transform: rotate(45deg); }
        .nav_links a:hover .iconbar:nth-of-type(2) {
          transform: translateX(100px);
          -webkit-transition-delay: 100ms;
          -moz-transition-delay: 100ms; }
        .nav_links a:hover .iconbar:nth-of-type(3) {
          top: 0px;
          transition-delay: 100ms;
          -webkit-transition-delay: 100ms;
          -moz-transition-delay: 100ms;
          transform: rotate(-45deg); }
    .nav_links .iconbar:nth-of-type(1) {
      top: -6px;
      background: #6f6f6f; }
    .nav_links .iconbar:nth-of-type(2) {
      top: 1px;
      background: #6f6f6f; }
    .nav_links .iconbar:nth-of-type(3) {
      top: 8px;
      background: #6f6f6f; }
    .nav_links .iconbar {
      position: relative;
      width: 30px;
      height: 2px;
      transition: all 400ms ease-in-out;
      -webkit-transition: all 400ms ease-in-out;
      -moz-transition: all 400ms ease-in-out; } }

@media (max-width: 465px) {
  .active_nav {
    height: 100%;
    width: 100%; }
    .active_nav li:not(:last-of-type) {
      width: 100% !important; }
    .active_nav a:hover {
      border: 1px solid transparent !important; } }

/* ----------------------------------------
------------ FOOTER STYLES ----------------
---------------------------------------- */
footer {
  width: 100%;
  bottom: 0;
  background-color: #1f1f1f;
  color: #6f6f6f; }

.footer_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0px; }

.artist_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px; }
  .artist_logo a {
    text-decoration: none;
    color: #6f6f6f; }
    .artist_logo a:hover {
      color: #fff; }

.contact_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px; }

.connect_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0; }
  .connect_links li {
    list-style-type: none;
    padding: 0px 20px 20px 10px; }
  .connect_links i {
    color: #6f6f6f;
    font-size: 1.5em; }
    .connect_links i:hover {
      color: #ff3c03; }
