// Color Variables
$accent: #061700;
$dark_grey: #1f1f1f;
$medium_grey: #6f6f6f;
$light_grey: #f5f5f5;

#calendar_section {
  height: calc(100vh - 5em);
  display: flex;
  flex-direction: column;

  background: linear-gradient(to bottom left, $accent, #708869);
  color: $light_grey;
}

.calendar_content {
  border: 2px solid $light_grey;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 5% auto;
  width: 80%;
  height: 80%;

  color: $light_grey;
}

.event_list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
