@import './colors.scss';

#calendar_section {
  height: 100vh;
  display: flex;
  flex-direction: column;

  background: linear-gradient(to bottom left, #420D0B, #A84858);
  // background: linear-gradient(to bottom left, #F4B350, #EB974E);

  color: $light_grey;
}

.calendar_bg {
  content: ' ';
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  opacity: 0.3;

  background-image: url('../assets/img/roses.jpeg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-repeat: no-repeat;
}

.calendar_content {
  // border: 2px solid $light_grey;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;

  margin: 5% auto;
  width: 100%;
  height: 80%;

  font-size: 1.5em;
  text-transform: lowercase;
  color: $light_grey;

  h2 {
    margin-bottom: 10%;
    font-size: 3em;
  }
}

.event_list {
  width: 100%;
  // max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;

  p {
    width: 33%;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .calendar_content {
    font-size: 1em;

    h2 {
      font-size: 2em;
    }
  }
}
