@import './colors.scss';

#music_section {
  height: calc(100vh - 3em);
  display: flex;
  flex-direction: row;
  background: $light_grey;
}

.music_bg {
  content: ' ';
  // position: absolute;

  z-index: 1;
  opacity: 0.8;

  height: 100%;
  width: 780px;
  
  background-image: url('https://s19.postimg.org/iz47ild9f/intro_pic.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.music_content {
  background: $light_grey;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  iframe {
    height: 70%;
    width: 80%;
  }
}

// CSS for tablet music section
@media (max-width: 900px) {
  .music_bg {
    display: none;
  }
}

// CSS for mobile music section
@media (max-width: 465px) {
  .music_content iframe {
      height: 90%;
  }
}
