// Main styling sheet for webpage

@import './colors.scss';

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

#to_top {
  z-index: 5;
  position: fixed;
  bottom: 10px;
  right: 1vw;
  font-size: 2.5em;
  width: 30px;
  height: 40px;
  text-align: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  transition: 0.3s;
  border: 1px solid $medium_grey;
  border-radius: 100%;
  color: $medium_grey;
  padding: 0px 5px;

  &:hover {
    background: $light-grey;
    color: $primary;
    border: 1px solid $light_grey;
    transition: 0.3s;
  }
}

/* ----------------------------------------
------------ NAVBAR STYLES ----------------
---------------------------------------- */
.navbar_wrapper {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3em;
  width: 100%;
  z-index: 5;

  background: rgba(255,255,255,0.9);
  color: $dark_grey;

  transition: ease-in-out 300ms;
  -webkit-transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms;

  box-shadow: 0px 1px 5px #888888;
}

// Hide nav bar when user scrolls down
// Show nav bar when user scrolls up
.nav_up {
  transform: translateY(-3em);
  transition: ease-in-out 300ms;
  -webkit-transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms;
}

.nav_contact_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0px 10px 0px 50px;
}

#nav_logo {
  font-family: 'Sacramento',cursive;
  font-size: 2em;
}

.logo_img {
  height: 75%;
}

.nav_links {
  padding-right: 50px;

  ul {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 35px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    li {
      // height: 20px;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover {
        background: $accent;
      }
    }
  }

  .hamburger_nav_button {
    display: none;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    color: $dark_grey;
    text-decoration: none;
    height: 100%;
    padding: 0px 20px;
    margin: 0;
    text-transform: lowercase;

    &:hover {
      color: $light_grey;
      // border-bottom: 2px solid $accent;
    }
  }

  #nav_link_list a {
    &:after {
      content: '';
      display: block;
      margin: 0;
      height: 1px;
      width: 0px;
      background: transparent;
      transition: width .3s ease, background-color 0.3s ease;
      -webkit-transition: width .3s ease, background-color 0.3s ease;
      -moz-transition: width .3s ease, background-color 0.3s ease;
    }

    &:hover:after {
      width: 100%;
      padding-bottom: 1px;
      background-color: $light_grey;
    }
  }

  .active_nav {
    display: none;
  }

  // CSS for tablet nav bar
  @media (max-width: 900px) {

    #nav_link_list {
      display: none;
    }

    // CSS for mobile nav pop-up
    .active_nav {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: fixed;
      height: 100%;
      z-index: 5;
      right: -500px;
      top: 0;
      background: rgba(0,0,0,.9);
      transition: 0.3s;

      li:first-of-type {
        margin-top: 10em;
      }

      li {
        box-sizing: border-box;
        display: flex;
        text-align: center;
        width: 350px;
        height: 10%;

        &:hover {
          a { color: $dark_grey; }
        }
      }
    }

    a {
      width: 100%;
      display: flex;
      flex-direction: column;
      color: $medium_grey;

      // &:hover {
      //   color: $accent;
      //   border: 0px solid transparent;
      // }
    }

    // Hamburger Styles and animation
    .iconbar:nth-of-type(1) {
      top: -6px;
    }

    .iconbar:nth-of-type(2) {
      top: 1px;
    }

    .iconbar:nth-of-type(3) {
      top: 8px;
    }

    .iconbar {
      position: relative;
      width: 30px;
      height: 2px;
      transition: all 300ms ease-in-out;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      background: $dark_grey;
    }

    .hamburger_nav_button {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      z-index: 10;

      .iconbar { background: $dark_grey; }

      // &:hover {
      //   .iconbar { background: $accent; }
      // }
    }

    .active_ham {
      .iconbar { background: $medium_grey; }

      .iconbar:nth-of-type(1) {
        top: 4px;
        transition-delay: 100ms;
        -webkit-transition-delay: 100ms;
        -moz-transition-delay: 100ms;
        transform: rotate(45deg);
      }

      .iconbar:nth-of-type(2) {
        transform: translateX(100px);
        -webkit-transition-delay: 100ms;
        -moz-transition-delay: 100ms;
      }

      .iconbar:nth-of-type(3) {
        top: 0px;
        transition-delay: 100ms;
        -webkit-transition-delay: 100ms;
        -moz-transition-delay: 100ms;
        transform: rotate(-45deg);
      }
    }
  }
}

@media (max-width: 465px) {
  #to_top {
    transition: 0.3s;
    color: $medium_grey;
    position: fixed;
    bottom: 5px;
    right: 1vw;
    font-size: 1em;
    width: 10px;
    height: 20px;
  
    &:hover {
      background: none;
      color: $primary;
      border: 1px solid $light_grey;
      transition: 0.3s;
    }
  }

  .active_nav {
    height: 100%;
    width: 100%;

    li {
      width: 100% !important;

      a {
        font-size: 2em;
      }
    }
  }
}

/* ----------------------------------------
------------ FOOTER STYLES ----------------
---------------------------------------- */
footer {
  width: 100%;
  bottom: 0;
  background-color: $dark_grey;
  color: $medium_grey;
}

.footer_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 10px 0px;
}

.artist_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;

  a {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 100;
    text-decoration: none;
    color: $medium_grey;
    transition: 0.3s;

    &:hover {
      color: #fff;
      transition: 0.3s;
    }
  }
}

.contact_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.connect_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    padding: 0px 20px 20px 10px;
  }

  i {
    color: $medium_grey;
    font-size: 1.5em;

    &:hover {
      color: $primary;
    }
  }
}